Привет, {{ username }}!

Данный бот предназначен для регистрации статусов комплетков ИТД в системе <b>DCS</b>.

Возможности:
✅ Изменеие <b>статуса</b> комплекта ИТД;
✅ Отметка <b>геолокации</b> комплекта ИТД (тестируется).
{% if new_user %}
⚠ Для доступа к боту вам необходимо зарегистрироваться в системе <b>DCS</b>.
Если у вас есть логин и пароль нажмите <b>/Login</b>.
{% else %}
Краткая инструкция:
✅ Отправте мне <b>качественное фото</b> QR-кода расположенного на лицевой стороне комплекта ИТД, либо напишите его текстом;
✅ Я <b>удалю присланное фото</b>, после того, как расшифрую его, чтобы не засорять ленту;
✅ Я отправлю вам 🟢 текущий статус комплекта;
✅ Обновите ⚪ статус, если это требуется;
✅ Отметьте текущую геолокацию комплекта (тестируется).
{% endif %}
Контакты для связи - [контакты]