{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="100px"><img src="../static/nipi.svg" alt="" ></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.company %}<p>Organization: {{ user.company.org_full_name }}, {{ user.company.org_type }}</p>{% endif %}
                {% if user.access_role %}<p>Role: {{ user.access_role.role_name }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen: {{ moment(user.last_seen).fromNow() }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% elif current_user.access_role.role_name == 'admin' %}
                <p><a href="{{ url_for('delete_user', username=user.username) }}">Delete user</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% if actions %}
        {% for action in actions %}
            {% include '_action.html' %}
        {% endfor %}
        <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer actions
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older actions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% else %}
        <h3 class="text-center text-muted bg-warning col-md-4 col-md-offset-4">{% if user == current_user %}You{% else %}{{ user.username }}{% endif %} has no actions</h3>
    {% endif %}

{% endblock %}